name: build-exiftool

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-exiftool:
    strategy:
      matrix:
        include:
          - name: arm64
            os: macos-15
            arch: arm64
          - name: x86_64
            os: macos-15-intel
            arch: x86_64

    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      MACOSX_DEPLOYMENT_TARGET: '11.0'

    steps:
      - name: Prepare MacPorts cache dir
        run: |
          sudo mkdir -p /opt/local
          sudo chown -R $USER:admin /opt/local

      - name: Cache MacPorts packages
        id: cache-macports
        uses: actions/cache@v4
        with:
          path: |
            /opt/local
            !/opt/local/var/macports/home
          key: macos-macports-${{ matrix.arch }}

      - name: Restore MacPorts
        if: ${{ steps.cache-macports.outputs.cache-hit == 'true' }}
        run: |
          echo "/opt/local/bin" >> "$GITHUB_PATH"
          echo "/opt/local/sbin" >> "$GITHUB_PATH"

      - name: Install MacPorts
        if: ${{ steps.cache-macports.outputs.cache-hit != 'true' }}
        run: |
          set -euox pipefail
          curl -L https://github.com/macports/macports-base/releases/download/v2.11.6/MacPorts-2.11.6-15-Sequoia.pkg -o MacPorts.pkg
          sudo installer -pkg MacPorts.pkg -target /
          echo "/opt/local/bin" >> "$GITHUB_PATH"
          echo "/opt/local/sbin" >> "$GITHUB_PATH"
          printf "build_arch    ${{ matrix.arch }}\nmacosx_deployment_target    11.0\n" | sudo tee -a /opt/local/etc/macports/macports.conf > /dev/null
          sudo /opt/local/bin/port -v selfupdate

      - name: Install Perl
        if: ${{ steps.cache-macports.outputs.cache-hit != 'true' }}
        run: |
          set -euox pipefail
          sudo port -N -s install perl5.40 xz

      - name: Build ExifTool
        run: |
          set -euox pipefail

          if [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
            EXIFTOOL_TAG="${GITHUB_REF_NAME}"
          else
            EXIFTOOL_TAG="13.39"
          fi
          PERL_PATH="/opt/local/bin/perl5.40"
          OUTPUT_DIR="${PWD}/export"
          TEMP_DIR="$(mktemp -d)"
          CPANM_PATH="${TEMP_DIR}/cpanm"

          mkdir -p "$OUTPUT_DIR"
          export PERL_MM_OPT="--with-bundled-sombok --disable-libthai"

          curl -fsSL https://cpanmin.us -o "${CPANM_PATH}"
          chmod +x "${CPANM_PATH}"

          git clone --depth 1 -b "${EXIFTOOL_TAG}" https://github.com/exiftool/exiftool "${TEMP_DIR}/exiftool"
          cd "${TEMP_DIR}/exiftool"
          chmod +x ./build_tag_lookup
          ./build_tag_lookup

          perl_packages=(
            IO::Compress::Brotli IO::Uncompress::Brotli Archive::Zip Compress::Zlib IO::Compress::Bzip2 IO::Compress::RawDeflate IO::Uncompress::RawInflate Compress::Raw::Lzma
            Digest::MD5 Digest::SHA Time::Piece POSIX::strptime Time::HiRes
            Unicode::LineBreak
          )
          cpan_prefix="${TEMP_DIR}/vendor_${{ matrix.arch }}"
          mkdir -p "${cpan_prefix}"
          arch -${{ matrix.arch }} \
            "${PERL_PATH}" \
            "${CPANM_PATH}" \
            -L "${cpan_prefix}" \
            --notest --quiet --no-interactive \
            PAR::Packer Module::ScanDeps \
            "${perl_packages[@]}"

          export PERL5LIB="${cpan_prefix}/lib/perl5"
          export PATH="${cpan_prefix}/bin:${PATH}"

          pp_packages=()
          for p in "${perl_packages[@]}"; do
            pp_packages+=(-M "$p")
          done

          arch -${{ matrix.arch }} \
            "${PERL_PATH}" \
            -S pp \
            -I lib -a "lib/" \
            "${pp_packages[@]}" \
            -o "${OUTPUT_DIR}/exiftool" \
            exiftool

      - name: Pack to tar.xz
        run: |
          cd export
          tar -cJf exiftool-macos-${{ matrix.arch }}.tar.xz exiftool

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: export/exiftool-macos-${{ matrix.arch }}.tar.xz
